<link rel="stylesheet" href="/CSS/Experiencias/ExperienciasLista.css" />
<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png" />
</div>
<form action="/experiencias/lista/{{user.idUsuario}}" method="get" id="ocultar"></form>
<div id="contenedor">
    <div class="row">
        {{#each enlistar}}
        <div id="tarjeta">
            <div id="titulo">
                <p>
                    <b>Mi Testimonio:</b>
                </p>
            </div>

            <div id="foto">
                <p>
                    Foto:
                    {{imagenExperiencia}}
                </p>
            </div>

            <div id="video">
                <p>
                    Video:
                    {{videoExperiencia}}
                </p>
            </div>

            <div id="Nombres">
                <p>
                    Nombre:
                    {{nombreExperiencia}}
                </p>
            </div>

            <div id="Descripcion">
                <p>
                    Descripción:
                    {{experienciasDetallesExperiencias}}
                </p>
            </div>

            <div id="botonEditar">
                <a href="/experiencias/editar/{{idExperiencias}}"><button>
                        Editar
                    </button>
                </a>
            </div>

            <div id="botonEliminar">
                <a href="/experiencias/eliminar/{{idExperiencias}}">
                    <button>Eliminar
                    </button>
                </a>
            </div>
        </div>

        {{else}}
        <div id="mensaje">
            <p><b>Usted no tiene registrado ningún experiencia. </b></p>
            <a href="/experiencias/agregar/{{user.idUsuario}}">
                <button type="button">¿Desea registrar?</button>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<div id="plus">
    <a href="/experiencias/agregar/{{user.idUsuario}}">
        <button type="button"><img src="/img/icons/white/plus.png" /></button>
    </a>
</div>