<link rel="stylesheet" href="/css/contenido/contenidoLista.css" />
<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png" />
</div>
<form action="/contenido/lista/{{user.idUsuario}}" method="get" id="ocultar">
    <div id="contenedor">
        {{#each enlistar}}
        <div id="tarjeta">
            <div id="titulo">
                <label>
                    Contenido
                </label>
            </div>
            <div id="Nombres">
                <p>
                    Nombre:
                    {{nombreContenido}}
                </p>
            </div>
            <div id="Descripcion">
                <p>
                    Descripción:
                    {{descripcionDetalleContenido}}
                </p>
            </div>
            <div id="foto">
                <p>
                    Foto:
                    {{imagenDetalleContenido}}
                </p>
            </div>
            <div id="video">
                <p>
                    Video:
                    {{videoDetalleContenido}}
                </p>
            </div>
            <div id="botonEditar">
                <a href="/contenido/editar/{{idContenido}}">
                <button type="button">Editar</button>
                </a>
            </div>
            <div id="botonEliminar">
                <a href="/contenido/eliminar/{{idContenido}}">
                    <button type="button">Eliminar</button>
                </a>
            </div>
        </div>
        {{else}}
        <div id="mensaje">
            <p>
                <b>Usted no tiene registrado ningún Contenido.</b>
            </p>
            <a href="/contenido/agregar/{{user.idUsuario}}">
                <button type="button">¿Desea registrar?</button>
            </a>
        </div>
        {{/each}}
    </div>

    <div id="plus">
        <a href="/contenido/agregar/{{user.idUsuario}}">
            <button type="button">
                <img src="/img/icons/white/plus.png" />
            </button>
        </a>
    </div>
</form>