<link rel="stylesheet" href="/css/contenido/contenidoEditar.css" />

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png" />
</div>

<div id="contenedor">
    {{#each enlistar}}
    <form action="/contenido/editar/{{idContenido}}" method="POST">

        <div id="nombre">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombreContenido" id="nombre" value="{{nombreContenido}}" />
        </div>

        <div id="descripcion">
            <label>
                Descripción:
            </label>
            <input type="text" name="descripcionDetalleContenido" id="descripcion"
                value="{{descripcionDetalleContenido}}" />
        </div>

        <div id="imagen">
            <label>
                Foto:
            </label>
            <input type="image" name="imagenDetalleContenido" id="foto" value="{{imagenExperiencia}}" />
        </div>

        <div id="video">
            <label>
                Video:
            </label>
            <input type="video" name="videoDetalleContenido" id="video" value="{{videoExperiencia}}" />
        </div>

        <div>
            <button type="submit" id="btn-agregar">
                Guardar Cambios
            </button>
        </div>
    </form>
    {{/each}}
</div>