<link rel="stylesheet" href="/css/Medicamentos/MedicamentosLista.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<form action="/medicamentos/lista/{{user.idPaciente}}" method="GET" id="ocultar">

    <div id="contenedor">
        <div class="row">
            {{#each enlistar}}
            <div id="tarjeta">
                <div id="titulo">
                    <p><b>Mi Control:</b></p>
                </div>
                <div id="Nombres">
                    <p>
                        Medicación: <br> {{nombreMedicaciones}}
                    </p>
                </div>
                <div id="Dosis">
                    <p>
                        Dosis al Día:<br> {{dosisMedicaciones}}
                    </p>
                </div>
                <div id="Horario">
                    <p>
                        Horario de la Dosis: <br>{{horaMedicaciones}}
                    </p>
                </div>
                <div id="FechaInicio">
                    <p>
                        Fecha de inicio:<br> {{fechaInicioMedicaciones}}
                    </p>
                </div>
                <div id="FechaFinal">
                    <p>
                        Fecha de Terminación:<br> {{fechaFinalMedicaciones}}
                    </p>
                </div>

                <div id="botonEditar">
                    <a href="/medicamentos/editar/{{idMedicaciones}}">
                        <button type="button">Editar</button>
                    </a>
                </div>

                <div id="botonEliminar">
                    <a href="/medicamentos/eliminar/{{idMedicaciones}}">
                        <button type="button">Eliminar</button>
                    </a>
                </div>
            </div>
            {{else}}
            <div id="mensaje">
                <p><b>Usted no tiene registrado ningún medicamento. </b></p>
                <a href="/medicamentos/agregar/{{user.idPaciente}}">
                    <button type="button">¿Desea registrar?</button>
                </a>
            </div>
            {{/each}}
        </div>
    </div>

    <div id="plus">
        <a href="/medicamentos/agregar/{{user.idPaciente}}">
            <button type="button">
                <img src="/img/icons/white/plus.png">
            </button>
        </a>
    </div>
</form>