<!-- Required meta tags -->
<link rel="stylesheet" href="/css/Medicamentos/MedicamentosEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<div id="contenedor">

    {{#each enlistar}}
    <form action="/medicamentos/editar/{{idMedicaciones}}" method="POST">
        <div>
            <div id="Nombres">
                <label>
                <b>Nombre de la Medicación:</b>
                </label>
                <input type="text" name="nombreMedicaciones" id="nombre" value="{{nombreMedicaciones}}" required>
            </div>

            <div id="Dosis">
                <label>
                <b>Dosis al Día:</b>
                </label>
                <input type="number" name="dosisMedicaciones" id="dosis" value="{{dosisMedicaciones}}" required>
            </div>

            <div id="Horario">
                <label>
                <b>Horario de la Dosis:</b>
                </label>
                <input type="text" name="horaMedicaciones" id="hora" value="{{horaMedicaciones}}" required>
            </div>

            <div id="FechaInicio">
                <label>
                <b>Fecha de Inicio:</b>
                </label>
                <input type="date" name="fechaInicioMedicaciones" id="fechaInicio" value="{{fechaInicioMedicaciones}}" readonly>
            </div>

            <div id="FechaFinal">
                <label>
                <b>Fecha de Control:</b>
                </label>
                <input type="date" name="fechaFinalMedicaciones" id="fechaFinal" value="{{fechaFinalMedicaciones}}">
            </div>

            <div id="boton">
                <button type="submit" id="btn-agregar">
                    Actualizar
                </button>
            </div>
        </div>
    </form>
    {{/each}}

</div>
