<link rel="stylesheet" href="/css/dudas/dudasLista.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<form action="/dudas/lista/{{user.idUsuario}}" method="get" id="ocultar">
    <div id="contenedor">
        <div class="row">
            {{#each enlistar}}
            <div id="tarjeta">
                <div id="titulo">
                    <label>
                        <b>Pregunta {{idPreguntas}}: </b>
                        <p>{{pregunta}}</p>
                    </label>
                </div>

                <div id="botonDetalle">
                    <a href="/dudas/detalle/{{idPreguntas}}">
                        <button type="button">Detalle</button>
                    </a>
                </div>

                <div id="botonEliminar">
                    <a href="/dudas/eliminar/{{idPreguntas}}">
                        <button type="button">Eliminar</button>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div id="plus">
        <a href="/dudas/agregar/{{user.idUsuario}}">
            <button type="button">
                <img src="/img/icons/white/plus.png">
            </button>
        </a>
    </div>
</form>