<link rel="stylesheet" href="/css/dudas/dudasEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<div id="contenedor">
    {{#each enlistar}}
    <form action="/dudas/editar/{{idPreguntas}}" method="POST" enctype="multipart/form-data">
        <div id="tarjetaPregunta">
            <div id="titulo">
                <label>
                    <b>Editar Pregunta y Respuesta:</b>
                </label>
            </div>

            <!-- Pregunta -->
            <div id="TituloPregunta">
                <label>
                    Pregunta N°: {{idPreguntas}}
                </label>
            </div>

            <div id="Pregunta">
                <textarea type="text" name="pregunta" id="pregunta" required>{{pregunta}}</textarea>
            </div>

            <div id="imagenPregunta">
                <img src="/img/dudas/Preguntas/{{imagenPreguntas}}" id="imagenSubidaPregunta">
            </div>

            <!-- Pregunta Imagen -->
            <div id="PreguntaAgregarImagen">
                <input type="file" name="imagenPreguntas" id="imagenPreguntas" />
            </div>

            <div id="PreguntaImagen">
                <input type="text" id="preguntaFinalImagen" name="preguntaFinalImagen" />
                <div id="preguntaImagen">
                    <label>¿Desea añadir una imagen a la pregunta?</label>
                </div>

                <div id="preguntaImagenSi">
                    <input type="radio" id="imagenPreguntasSi" name="imagenPreguntasSi" value="Si"
                        onclick="opcion.seleccion()" />Sí
                </div>

                <div id="preguntaImagenNo">
                    <input type="radio" id="imagenPreguntasNo" name="imagenPreguntasNo" value="No"
                        onclick="opcion.seleccion()" />No
                </div>
            </div>

            <div id="iconImagenPregunta">
                <img src="/img/icons/black/images.png">
            </div>

            <div id="videoPregunta">
                <video src="/video/dudas/Preguntas/{{videoPreguntas}}" id="videoSubidoPregunta" controls></video>
            </div>

            <!-- Pregunta Video -->
            <div id="PreguntaAgregarVideo">
                <input type="file" name="videoPreguntas" id="videoPreguntas" />
            </div>

            <div id="PreguntaVideo">
                <div id="preguntaVideo">
                    <input type="text" id="preguntaFinalVideo" name="preguntaFinalVideo" />
                    <label>¿Desea añadir un vídeo a la pregunta?</label>
                </div>

                <div id="preguntaVideoSi">
                    <input type="radio" id="videoPreguntasSi" name="videoPreguntasSi" value="Si"
                        onclick="opcion.seleccion()" />Sí
                </div>

                <div id="preguntaVideoNo">
                    <input type="radio" id="videoPreguntasNo" name="videoPreguntasNo" value="No"
                        onclick="opcion.seleccion()" />No
                </div>
            </div>

            <div id="iconVideoPregunta">
                <img src="/img/icons/black/video.png">
            </div>
            {{/each}}

        </div>

        <div id="tarjetaRespuesta">
            <!-- Respuesta -->
            {{#each enlistar1}}
            <div id="TituloRespuesta">
                <label>
                    Respuesta N°: <input type="text" name="nrespuesta" id="Nrespuesta" value="{{idRespuesta}}" readonly>
                </label>
            </div>

            <div id="objetivosEliminar">

                <div id="Respuesta">
                    <textarea type="text" id="quitar" name="respuestas" checked>{{respuesta}}</textarea>
                </div>

                <div id="botonEliminar">
                    <a href="/dudas/eliminarRespuesta/{{idPreguntas}}">
                        <button type="button">Eliminar Respuesta</button>
                    </a>
                </div>
            </div>

            <div id="imagenRespuesta">
                <img src="/img/dudas/Respuestas/{{imagenRespuesta}}" id="imagenSubidaRespuesta">
            </div>

            <!-- Respuesta Imagen  -->
            <div id="RespuestaAgregarImagen">
                <input type="file" name="imagenRespuesta" id="imagenRespuestas" />
            </div>

            <div id="RespuestaImagen">
                <input type="text" id="respuestaFinalImagen" name="respuestaFinalImagen" />
                <div id="respuestaImagen">
                    <label>¿Desea añadir una imagen a la respuesta?</label>
                </div>

                <div id="respuestaImagenSi">
                    <input type="radio" id="imagenRespuestaSi" name="imagenRespuestaSi" value="Si"
                        onclick="opcion.seleccion()" />Sí
                </div>

                <div id="respuestaImagenNo">
                    <input type="radio" id="imagenRespuestaNo" name="imagenRespuestaNo" value="No"
                        onclick="opcion.seleccion()" />No
                </div>
            </div>

            <div id="iconImagenRespuesta">
                <img src="/img/icons/black/images.png">
            </div>


            <div id="videoRespuesta">
                <video src="/video/dudas/Respuestas/{{videoRespuesta}}" id="videoSubidoRespuesta" controls></video>
            </div>

            <!-- Respuesta Video  -->
            <div id="RespuestaAgregarVideo">
                <input type="file" name="videoRespuesta" id="videoRespuestas" />
            </div>

            <div id="RespuestaVideo">
                <input type="text" id="respuestaFinalVideo" name="respuestaFinalVideo" />
                <div id="respuestaVideo">
                    <label>¿Desea añadir un video a la respuesta?</label>
                </div>

                <div id="respuestaVideoSi">
                    <input type="radio" id="videoRespuestaSi" name="videoRespuestaSi" value="Si"
                        onclick="opcion.seleccion()" />Sí
                </div>

                <div id="respuestaVideoNo">
                    <input type="radio" id="videoRespuestaNo" name="videoRespuestaNo" value="No"
                        onclick="opcion.seleccion()" />No
                </div>
            </div>

            <div id="iconVideoRespuesta">
                <img src="/img/icons/black/video.png">
            </div>
            {{/each}}
        </div>

        <div id="OtraPregunta">
            <div id="objetivos">
                <label>Desea añadir otra respuesta?:</label>
                <input type="text" id="numeros" name="numeros" placeholder="Ingrese su número de respuestas" checked>
            </div>

            <div id="listaObjetivos"></div>

            <div id="Unico">
                <textarea name="unico" id="unico" maxlength="2500"></textarea>
            </div>

            <div id="boton">
                <button type="button" onclick="objetivo1.crear()">Crear Respuestas</button>
            </div>

            <div id="Guardar">
                <button type="submit">Actualizar</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/objetivos2.js"></script>
<script src="/js/dudas/dudas.js"></script>
<script src="/js/opciones2.js"></script>