<link rel="stylesheet" href="/CSS/composicion/composicionMedicamentosEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso1.jpg">
</div>

<div id="contenedor">

    <form action="/composicionMedicamento/editar/{{idComposicion}}" method="POST">

        {{#each enlistar}}
        <div id="titulo">
            <h3>Medicamento</h3>
        </div>
        <div id="nombres">
            <label for="">Nombre del Medicamento</label>
            <input type="text" name="nombreMedicamentos" id="nombre" value="{{nombreMedicamentos}}" required>
        </div>
        <div id="composicion">
            <label for="">Composicion del Medicamento</label>
            <ul>
                <li><input type="text" name="composicionMedicamentos" id="dosis" value="{{composicionMedicamentos}}"
                        required></li>
                <li><input type="text" name="composicionMedicamentos" id="dosis" value="{{composicionMedicamentos}}"
                        required></li>
            </ul>
        </div>
        <div id="detalle">
            <label for="">Detalle del Medicamento</label>
            <input type="text" name="descripcionMedicamentos" id="detalle" value="{{descripcionMedicamentos}}" required>
        </div>
        <div id="administracion">
            <label for="">Via de Administración del Medicamento</label>
            <input type="text" name="viaAdministracionMedicamentos" id="administracion"
                value="{{viaAdministracionMedicamentos}}" required>
        </div>
        <div id="contradicaciones">
            <label for="">Contraindicaciones del Medicamento</label>
            <input type="text" name="indicacionesMedicamentos" id="contraindicaciones"
                value="{{indicacionesMedicamentos}}" required>
        </div>
        <div id="dosis">
            <label for="">Dosis del Medicamento</label>
            <input type="text" name="dosisMedicamentos" id="Dosis" value="{{dosisMedicamentos}}" required>
        </div>
        <div id="fechaElaboracion">
            <label for="">Fecha de Elaboracion del Medicamento</label>
            <input type="date" name="fechaElaboracionMedicamentos" id="fechaElaboracion"
                value="{{fechaElaboracionMedicamentos}}" required>
        </div>
        <div id="fechaVencimiento">
            <label for="">Fecha de Vencimiento del Medicamento</label>
            <input type="date" name="fechaVencimientoMedicamentos" id="fechaVencimiento"
                value="{{fechaVencimientoMedicamentos}}" required>
        </div>
        <div id="laboratorio">
            <label for="">Laboratorio </label>
            <input type="text" name="laboratorioMedicamentos" id="laboratorio" value="{{laboratorioMedicamentos}}"
                required>
        </div>
        <div id="botonActualizar">
            <a href="/composicionMedicamento/lista/{{idComposiciones}}">
                <button type="submit" id="btn-agregar">Actualizar</button>
            </a>
        </div>
        {{/each }}

    </form>

</div>