<link rel="stylesheet" href="/css/efectosSecundariosCss/efectosSecundariosListas.css">

<div id="fondo">
   <img src="/img/fondos/sistemaNervioso.png">
</div>

<form action="/efectosSecundarios/lista/{{user.idUsuario}}" method="get"></form>
<div id="contenido">
   <div class="row">
      {{#each lista}}
      <div id="tarjeta">
         <div id="titulo">
            <p>
               <b>Efectos Secundarios:</b>
            </p>
         </div>
         <div id="nombre">
            <label> Efectos :</label>
            <label>{{nombreEfectosSecundarios}}</label>
         </div>

         <div id="Descripcion">
            <label> Descripcion :</label>
            <p> {{descripcionEfectosSecundarios}} </p>
         </div>

         <div id="botonEditar">
            <button>
               <a href="/efectosSecundarios/editar/{{idEfectosSecundarios}}">Editar</a>
            </button>
         </div>

         <div id="botonEliminar">
            <button>
               <a href="/efectosSecundarios/eliminar/{{idEfectosSecundarios}}">Eliminar</a>
            </button>
         </div>
      </div>
      {{else}}
      <div id="mensaje">
         <p><b>No tiene Efectos Secundarios. </b></p>
         <a href="/efectosSecundarios/agregar/{{user.idUsuario}}">
            <button type="button">¿Desea registrar ?</button>
         </a>
      </div>
      {{/each}}
   </div>
</div>
<div id="plus">
   <a href="/efectosSecundarios/agregar/{{user.idUsuario}}">
      <button type="button"><img src="/img/usuarios/plus.png"></button>
   </a>
</div>
