<link rel="stylesheet" href="/CSS/solicitud/solicitud.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.jpg">
</div>
<form action="/amigos/solicitudes/{{user.idPaciente}}" method="post">
    <div id="contenedor">
        <div class="row">
            {{#each enlistar}}
            <div id="tarjeta">
                <div id="titulo">
                    <h1> Solictud:</h1>
                </div>
                <div id="foto">
                    Foto:
                </div>
                <div id="nombre">
                    <p>Nombre: {{nombrePaciente}} {{apellidoPaciente}}</p>
                </div>

                <div id="fecha">
                    <p>Fecha: {{fechaSolicitud}}</p>
                </div>


                <div id="botonAceptarSolicitud">
                    <input type="text" name="idSolicitud" id="soliciyud" value="{{idSolicitud}}" readonly>
                    <input type="text" id="horas" name="horaMensaje" readonly>
                    <input type="text" id="fechas" name="fechaMensaje" readonly>
                    <button type="submit">Aceptar</button>
                </div>

                <div id="botonEliminarSolicitud">
                    <a href="#">
                        <button type="button">Eliminar</button>
                    </a>
                </div>
            </div>

            {{else}}
            <div id="mensaje">
                <p><b>Usted no Solicitudes.</b></p>
                <a href="#">
                    <button type="button">¿Desea enviar una solicitud?</button>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</form>
<div id="plus">
    <a href="#">
        <button type="button"><img src="/img/usuarios/plus.png"></button>
    </a>
</div>

<script src="/js/mensajes/horafecha.js"></script>