<link rel="stylesheet" href="/CSS/Mensajes/mensajes.css">

<div id="fondo">
    <img src="/img/mensajes/Captura.PNG">
</div>

<div class="row">
    {{#each enlistar}}
    <div class="card2">
        <div class="content2">
            <div class="front2">
                <div class="contenedor2">
                    <a href="#" class="back-icon"><i class="fas fa-arrow-left"></i></a>
                    <img src="#" alt="" class="imagenr">
                    <p>| {{fechaMensaje}}</p>
                    <div class="palabr2">
                        <p>Ahora</p>
                    </div>
                </div>
                <div class="chat-box">
                    <div class="chat salida">
                        <div class="deatils">
                            <p>Lorem ipsum dolor sit amet consectetur adinimenda temporibus, dolorem
                                necessitatibus
                                illum esse.</p><span>{{horaMensaje}}</span>
                        </div>
                    </div>
                    <div class="chat entrada">
                        <div class="deatils2">
                            <p>Lorem ipsum suscipit reiciendis corrupti vitae doloremque, rerum perferendis nam
                                dolorem.</p><span>{{horaMensaje}}</span>
                        </div>
                    </div>
                    <div class="chat salida">
                        <div class="deatils">
                            <p>Lorem ipsum dolor sit amet consectetur adinimenda temporibus, dolorem
                                necessitatibus
                                illum esse.</p><span>{{horaMensaje}}</span>
                        </div>
                    </div>
                    <div class="chat entrada">
                        <div class="deatils2">
                            <p>Lorem ipsum suscipit reiciendis corrupti vitae doloremque, rerum perferendis nam
                                dolorem.</p><span>{{horaMensaje}}</span>
                        </div>
                    </div>
                </div>
                <div class="contenedor3">
                    <form id="formulario" class="typing-area" method="post" action="#">
                        <input type="text" class="escri" placeholder="Escribir..." />
                        <button><i class="fab fa.telegram-plane">-></i></button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="mens">
            <p><b>Usted no tiene mensajes con esta persona</b></p>
        </div>
    </div>
    {{/each}}
</div>