<link rel="stylesheet" href="/css/partials/navegacion.css">
{{#if user}}

<div id="cierra">
    <button type="button">
        <img src="/img/usuarios/menu.png" onclick="menus.botonMenu()">
    </button>
</div>

<nav id="nav">
    <div id="img">
        <a href="/Inicio"><img src="/img/logo/Logo_epilepsum.png"></a>
    </div>

    <div id="EPILEPSUM">
        <a href="/Inicio"><b>EPILEPSUM</b></a>
    </div>

    <div id="Control">
        <a href="/Control/{{user.idPaciente}}">Mi Control</a>
    </div>

    <div id="Colaboracion">
        <a href="/experiencias/lista/{{user.idPaciente}}">Experiencias</a>
    </div>

    <div id="PrimerosAuxilios">
        <a href="/primeros_auxilios/{{user.idPaciente}}">Primeros Auxilios</a>
    </div>

    <div id="Ubicacion">
        <a href="/ubicacion/{{user.idPaciente}}">Ubicaci칩n</a>
    </div>

    <div id="Contactos">
        <a href="/contactos/lista/{{user.idPaciente}}">Mis Contactos</a>
    </div>

    <div id="Cierre">
        <a href="/CerrarSesion"><button>Cerrar Sesi칩n</button></a>
    </div>

    <div id="InformacionNavbar">
        <a href="/Contacto/{{user.idPaciente}}">Informaci칩n de la P치gina</a>
    </div>
</nav>
{{/if}}

<div id="hamburguesa">
    <button type="button">
        <img src="/img/usuarios/cross.png" onclick="menus.aparicion()">
    </button>
</div>

<script src="/js/navegacion.js"></script>